<div class="max-w-xl mx-auto space-y-12 py-12">
  <div class="space-y-4">
    <h1 class="text-vercel-black">Edit Event</h1>
    <p class="text-lg text-gray-500">Refine your event details to perfection.</p>
  </div>

  <% provide(:button_text, "Update Event") %>
  <%= render "form", event: @event %>
</div>
